body {
  line-height: 26px;
  background: #fad1fa;
  font-family: "Ubuntu", "wenquanyi micro hei", "宋体";
  font-size: 13px;
}
* {
  box-sizing: border-box;
}
#home {
  width: 800px;
  background: #decffc;
  margin: auto;
  opacity: 0.5;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  text-shadow: 0 0 10px #ff0;
  color: #00f;
}
div {
  padding: 0px 13px;
  margin: 0px;
}
.content {
  background: #decffc;
  margin: auto;
  width: 800px;
}
.date {
  font-size: 13px;
  color: #e68019;
}
.posts {
  margin-left: 20px;
}
.comments {
  opacity: 0.5;
  width: 800px;
  background: #decffc;
  margin: auto;
}
code {
  background: #e6b3e5;
  padding: 0px 6px;
}
p,
pre {
  margin: 0px;
}
