
@import url('title.css');
@import url('list.css');

* {
    box-sizing: border-box;
}

#app {
    background-image: url('http://tiye.qiniudn.com/leaf.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    font-family: Optima, 'Hiragino Sans GB', '文泉驿微米黑';
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

#menu {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    background: hsla(0, 77%, 9%, 0.54);
    height: 400px;
}
