
#title {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 1px 7px hsl(0, 0%, 0%);
    padding: 10px;
    color: rgb(197, 197, 197);
    justify-content: flex-start;
    background: hsla(0, 77%, 9%, 0.54);
    line-height: 80px;
}
#title span {
    margin: 0px 5px;
}
#title a {
    color: rgb(179, 179, 255);
    text-decoration: none;
}
#name-id:before {
    content: '@';
}
#name {
    font-size: 30px;
    padding-left: 50px;
}
#name-nice {
}
#about {
    font-size: 16px;
    padding-left: 30px;
}
#about:before {
}
