
html
	head
		meta(charset='utf-8')
		title 字
		script(src="../../../libs/coffee-script.js")
		script(src="i.coffee",type="text/coffeescript")
		:stylus
			span
				background-color hsl(240,80%,90%)
				margin 4px
			span:hover
				background-color hsl(240,90%,98%)
	body
		span(id='run0')
			有背景间隔0,
		span(id='run4')
			有背景间隔4,
		canvas(width="800px",height="700px",id="canvas")
