
!!! 5
html
	head
		title 题叶
		link(rel='stylesheet', href='index/index.css')
		meta(charset='utf-8')
	body
		article 
			span 我的网名是'题叶'
			br
			sapn 崇尚简单和美观
			br
			br
			span 能力有限, 只能做静态页面记笔记
			br
			span 搜索很无语在自己电脑用 grep 去做
			br
			span 另外 GitPage 里面目录都没有喔
			br
			span 其实上面所说的只是我的计划
			br
			span 而已, 想学 Haskell, Node.js, PyQt
			br
			span 还想学自己设计编写网站, 处理图形, 管理数据
			br
			span 正在Ubuntu,  CoffeeScript, Jade, Stylus 中
			br
			span 好吧, 学习是很为难的事情
