
body{
	font-size:28px;
	background:rgba(200,200,255,1);}
textarea{
	padding:20px;
	font-size:28px;
	width:600px;
	float:left;
	height:600px;}
nav{
	padding:20px;
	float:left;}
section{
	padding:100px 20px;}
