body {
  background: #fff;
  padding: 20px 140px;
}
pre {
  font-family: "wenquanyi micro hei mono", "Monospace";
  letter-spacing: 0px;
  color: #fff;
  text-shadow: 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118, 0px 0px 10px #db3118;
  font-size: 14px;
  line-height: 35px;
}
