
color = hsl(60, 60%, 100%)
s = 0px 0px 10px #db3118
body
	background color
	padding 20px 140px
pre
	font-family "wenquanyi micro hei mono", "Monospace"
	letter-spacing 0px
	color white
	text-shadow s,s,s,s,s,s,s,s,s,s,s,s,s
	font-size 14px
	line-height 35px
