
calcit.cirru text -diff linguist-generated
yarn.lock text -diff linguist-generated
config/calcit-quality.cirru text -diff linguist-generated

entry/Buda/* -diff linguist-generated

Agents.md -diff linguist-generated
llms/*.md -diff linguist-generated
