
html
	head
		title 题叶'GitPage
		:stylus
			body
				padding 52px 130px
				font-family 'Wenquanyi Micro Hei Mono'
				font-size 13px
				line-height 26px
		meta(charset='utf-8')
	body
		p 笔记
		p
			a(href='notes/genie_guide/index.html') Genie 学习笔记
		p
			a(href='notes/haskell_guide/learn.html') Haskell 学习笔记
		p
			a(href='notes/nodejs_guide/nodejs.html') Nodejs 入门笔记
		p
			a(href='notes/scheme/scheme.html') Scheme 学习笔记
		br
		p 模型
		p
			a(href='projects/36pinyinDemo/36.html') 36 拼音输入法输入概念
		p
			a(href='projects/chuangling/c.html') 窗棂桌面布局样式动画
		p
			a(href='projects/diandian/my.txt') 点点请博客模版
		p
			a(href='projects/gaussianPrimes/33.html') 双三素数第四象限分布
		p
			a(href='projects/indent/index.html') 缩进样式
		p
			a(href='projects/length/len.html') 文本每段长度统计
		p
			a(href='projects/old/index.html') 旧版博客残留
		p
			a(href='projects/player/p.html') 视频播放器样式设计
		p
			a(href='projects/tuzhang/tu.html') 图章文字样式
		p
			a(href='projects/word/i.html') 挑花字形展示
		p
			a(href='projects/word/main.html') 挑花输入展示
		p
			a(href='projects/json2page/json2page.html') Json 转 html/css 概念展示
		p
			a(href='projects/web_editor/editor.html') 自动缩进 textarea 编辑器
		p
			a(href='projects/liuxian/compile/preview.html') Gfm 类似文本标记
