
html
	head
		title 题叶'GitPage
		:stylus
			body
				padding 52px 130px
				font-family 'Wenquanyi Micro Hei Mono'
				font-size 13px
				line-height 26px
		meta(charset='utf-8')
	body
		p 笔记
		p
			a(href='memory/genie_guide/index.html') Genie 学习笔记
		p
			a(href='memory/haskell_guide/learn.html') Haskell 学习笔记
		p
			a(href='memory/nodejs_guide/nodejs.html') Nodejs 入门笔记
		br
		p 模型
		p
			a(href='article/36pinyinDemo/36.html') 36 拼音输入法输入概念
		p
			a(href='article/chuangling/c.html') 窗棂桌面布局样式动画
		p
			a(href='article/diandian/my.txt') 点点请博客模版
		p
			a(href='article/gaussianPrimes/33.html') 双三素数第四象限分布
		p
			a(href='article/indent/index.html') 缩进样式
		p
			a(href='article/length/len.html') 文本每段长度统计
		p
			a(href='article/old/index.html') 旧版博客残留
		p
			a(href='article/player/p.html') 视频播放器样式设计
		p
			a(href='article/tuzhang/tu.html') 图章文字样式
		p
			a(href='article/word/i.html') 挑花字形展示
		p
			a(href='article/word/main.html') 挑花输入展示
		p
			a(href='article/json2page/json2page.html') Json 转 html/css 概念展示
