---
layout: default
title: '@题叶'
---
{% for i in ["a", "中"] %}
	<span> {{ i }} <span>
{% endfor %}
<span class="tag">
	中文
</span>
<div class="posts">
	{% for post in site.tags.["中文"] %}
		<span class="date">
			{{ post.date | date: "%y-%m-%d"}}
		</span>
		<span class="title">
			<a href="{{ post.url }}">
				{{ post.title }}
			</a>
		</span>
	{% endfor %}
</div>
<span class="tag">
	new
</span>
<div class="posts">
	{% for post in site.tags.new %}
		<span class="date">
			{{ post.date | date: "%y-%m-%d"}}
		</span>
		<span class="title">
			<a href="{{ post.url }}">
				{{ post.title }}
			</a>
		</span>
	{% endfor %}
</div>
