
.name-card {
  border: 1px solid #ddd;
  padding: 1em;
  display: flex;
  flex-direction: row;
  width: 400px;
}

.name-card .avatar {
  width: 64px;
  height: 64px;
  background-image: url(../../images/tiye-400x400.jpg);
  background-size: cover;
  margin-right: 1em;
}

.name-card {}

.name-card .major {
  font-weight: bold;
}

.name-card .minor {
  color: #888;
}