
.site-link {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 1em;
  width: 200px;
  cursor: pointer;
}

.site-link .icon {
  width: 32px;
  height: 32px;
  background-size: cover;
  margin-right: 1em;
}

.site-link .name {}
