.indent
	background hsl(240,50%,60%)
	-moz-box-shadow inset 0px 0px 20px white
.space
	background hsl(240,50%,60%)
	-moz-box-shadow inset 0px 0px 11px white
span
	background hsl(240,90%,90%)
body
	font-famly 'wenquanyi micro hei mono'
	font-size 13px
