body {
  font-size: 13px;
  font-family: "文泉驿等宽微米黑", "Monospace";
  line-height: 26px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  background: url("grass.jpg");
}
body * {
  box-sizing: border-box;
}
#article {
  margin-left: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px;
}
.paragraph {
  margin: 13px 0px;
  background: rgba(255,255,143,0.80);
  -webkit-box-shadow: 1px 1px 10px #808080;
  width: 480px;
  padding: 13px 26px;
  -webkit-border-radius: 13px;
}
#sidebar {
  padding: 13px;
  width: 600px;
  height: 400px;
  margin: 10px 20px;
  background: rgba(255,255,143,0.80);
  -webkit-box-shadow: 1px 1px 10px #808080;
  -webkit-border-radius: 13px;
}
.eng {
  background: #f5993d;
  -webkit-border-radius: 2px;
  padding: 0px 6px;
  margin: 0px -6px 0px 0px;
}
