
.page-header, .page-footer {
    background-image: url(../../images/leaf.jpg);
    height: 400px;
    background-size: cover;
}

.page-header .white-cover {
  border-top: 400px solid transparent;
  border-right: 0px solid white;
  border-bottom: 0px solid white;
  border-left: 0px solid white;
}

.page-footer .white-cover {
  border-top: 400px solid white;
  border-right: 0px solid white;
  border-bottom: 0px solid white;
  border-left: 0px solid transparent;
}

/* now content */

@media screen and (min-width: 900px) {

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.layout-left {
  padding-bottom: 80px;
}
.layout-right {
  padding-top: 80px;
}

}