

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Optima, "Hiragino Sans GB", "文泉驿微米黑", "微软雅黑";
  font-size: 20px;
  line-height: 40px;
}
a {
  text-decoration: none;
}
a:link {
  color: hsl(290, 95%, 57%);
}
a:visited {
    color: hsl(238, 12%, 47%);
}
.line:first-letter {
  text-transform: capitalize;
}

#avatar {
    box-shadow: 0 0 7px 1px hsla(0, 0%, 0%, 0.4);
    border-radius: 50%;
}
.name {
    margin-top: 50px;
}
.about {
    font-size: 18px;
}
.email {
    font-size: 19px;
    color: gray;
}
#page {
    padding-left: 40px;
    box-shadow: 0 0 19px 1px hsla(0, 0%, 0%, 0.3);
    position: absolute;
    left: 400px;
    width: calc(100% - 400px);
    padding-bottom: 400px;
}
.panel {
}
.title {
    margin: 200px 0 30px 0;
}

.panel .line {
    padding-left: 40px;
}
#card {
    width: 360px;
    padding: 100px 30px;
    position: fixed;
}