@font-face
{
  font-family: Buda;
  src: url('./Buda/Buda-Light.ttf'); /* IE9 requires eot */
}

html {
  /* Chrome on Pad, bottom is strange when tabs are hidden */
  background-color: #211;
}

body {
  margin: 0;
  font-display: optional;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  user-select: none;

  font-family: 'Buda', cursive;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer{
  background-color:transparent;
}

a {
  text-decoration: none;
}

.show-on-hover {
  transition-duration: 300ms;
  transition-property: opacity;
  opacity: 0.3;
}
.show-on-hover:hover {
  opacity: 1;
}

.hover-scale {
  transition-duration: 200ms;
}
.hover-scale:hover {
  box-shadow: 1px 2px 6px hsla(0, 100%, 0%, 0.2);
}