
body {
  margin: 0;
  background-image: url(http://logo.tiye.me/leaf.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  /* background-attachment: fixed; */
  background-color: hsl(17, 37%, 15%);
}

.app {
  height: 100%;
}

body * {
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}

.app-container > * {
  flex-shrink: 0;
}
