
body
	background hsl(20,20%,20%)
	color hsl(20,100%,100%)
	font-family 'wenquanyi micro hei mono'
	font-size 15px
	line-height 20px
a
	text-decoration none
	text-shadow 0px 0px 3px yellow
a:link
	color hsl(40,60%,60%)
a:visited
	color hsl(40,60%,60%)
