
!!! 5
html
	head
		link(rel='stylesheet', href='m.css')
		title PythonTips
	body
		span Python 处理文件
		a(href="http://www.ibm.com/developerworks/cn/opensource/os-python8/") &nbsp;=%%>&nbsp;
		span RGB 颜色查询对照表
		a(href="http://www.vitbbs.cn/RGB.html") &nbsp;=%%>&nbsp;
