
html
	head
		title 双三.文档
		meta(charset="utf-8")
		script(src="draw.coffee",type="text/coffeescript")
		script(src="../../../libs/coffee-script.js",type="application/javascript")
		script(src="../../../libs/jquery.min.js",type="application/javascript")
		:stylus
			body
				background hsl(0,97%,97%)
				font-size 13px
				line-height 26px
			p
				margin 0px
			#cvs
				z-index -1
	body
		canvas#cvs(width="2187",height="2187")
		p aaa
		p bbb
