
link(rel='stylesheet', href='build/404.css')
#container
  #center
    p Hi, I suppose you got to the wrong place.
    p I know that feeling. Since I couldn't found the right place for myself.
    p You may try 
      a(href='https://www.google.com/#q=jiyinyiyong') Google 
      | to get out here.