
doctype 5
html
  head
    title JiyinYiyong
    meta(charset='utf-8')
    link(rel='stylesheet', href='build/page.css')
    link(type="image/x-icon", rel="shortcut icon", href='./favicon.ico')
  body
    #page
      #card
        img#avatar(title='头像来源感谢 @vicky1994', src='./pic/jiyinyiyong-128x128.png')
        .intro
          p.name JiyinYiyong, 1991.summer
          p.about /chenyong/, CoffeeScript fan, Github user
      .panel
        .title Where I spend my time?
        p: a(href='https://github.com/jiyinyiyong') Social coding
        p: a(href='https://plus.google.com/communities/108571245540392494172/') My dream on Coder News
        p: a(href='http://cnodejs.org/user/jiyinyiyong') Active member of Chinese Node.js Community
        p: a(href='http://www.zhihu.com/people/jiyinyiyong/asks') Ask questions 知乎
        p: a(href='https://twitter.com/jiyinyiyong') My Tweets with my friends
        p: a(href='http://ruby-china.org/jiyinyiyong') Study new language on Ruby China
        p: a(href='http://v2ex.com/member/jiyinyiyong') Way to explore the life of others
        p: a(href='')
      .panel
        .title Old things
        p: a(href='http://coffee-js.github.com/coffeescript.cn/') CoffeeScript leads me the way to coding
        p: a(href='https://github.com/jiyinyiyong/learning-notes') Learning Functional Programming
        p: a(href='http://weibo.com/jiyinyiyong') Once I posted a brunch of bookmarks on 新浪微博
        p: a(href='https://github.com/coffee-js/languages/issues') Trying to think and talk
        p: a(href='')
      .panel
        .title Collections
        p: a(href='http://jiyinyiyong.github.io/blog/') My blog on Github Pages
        p: a(href='http://www.tudou.com/home/item_u56179749s0p1.html') Great videos I downloaded
        p: a(href='https://github.com/jiyinyiyong/article') Write blogs with HTML
        p: a(href='')
      .panel
        .title Notes
        p: a(href='http://jiyinyiyong.blog.163.com/') First tech blog on 网易博客
        p: a(href='https://github.com/jiyinyiyong/blog2') Archived notes on my first VPS
        p: a(href='http://thinking.diandian.com/') Strange ideas I wrote down on 点点
        p: a(href='http://www.douban.com/people/jiyinyiyong/notes')  Diaries about day dreaming on 豆瓣
        p: a(href='http://learning-notes.diandian.com/') Some of my learning notes
        p: a(href='')
      .panel
        .title Experiments
        p: a(href='https://github.com/jiyinyiyong/rain-boots') Grunt is big, Rain-boots is small
        p: a(href='https://github.com/jiyinyiyong/scirpus') Compile Scirpus to JS code
        p: a(href='https://github.com/jiyinyiyong/broccoli') Broccoli demo blog
        p: a(href='https://github.com/jiyinyiyong/goose') Add bracket for Golang code
        p: a(href='https://github.com/jiyinyiyong/clear_converter') Add brackets for C code
        p: a(href='https://github.com/jiyinyiyong/thirtySix') Chinese input method idea
        p: a(href='')
      .panel
        .title Demostrations
        p: a(href='https://github.com/jiyinyiyong/tiaohua') Futuristic character design
        p: a(href='http://jiyinyiyong.yupoo.com/') The tiaohua character I designed
        p: a(href='https://github.com/jiyinyiyong/poet-matrix') Poet Matrix
        p: a(href='https://github.com/jiyinyiyong/chuangling') 窗棂 and grid workspaces
        p: a(href='http://jiyinyiyong.github.io/code-ladder/build/') Indentation is better
        p: a(href='https://github.com/jiyinyiyong/life-game-webgl') Life Game
        p: a(href='https://github.com/jiyinyiyong/video-player-concept') Video player design
        p: a(href='')
      .panel
        .title Cirru Project
        p: a(href='https://github.com/jiyinyiyong/code_blocks') Prelude of Cirru
        p: a(href='https://github.com/jiyinyiyong/cirru-parser') Cirru Parser
        p: a(href='https://github.com/jiyinyiyong/Cirru.subl') Hilight Cirru in Sublime Text
        p: a(href='https://github.com/jiyinyiyong/cirru-editor-2') Cirru Editor 2nd
        p: a(href='')
      .panel
        .title Converter
        p: a(href='https://github.com/jiyinyiyong/lilyturf') Lilyturf is an HTML template in CoffeeScript
        p: a(href='https://github.com/jiyinyiyong/live-tmpl') JSON in LiveScript as HTML template
        p: a(href='https://github.com/jiyinyiyong/calabash') Run Bash commands from Node
        p: a(href='https://github.com/jiyinyiyong/she') Add parentheses for Scheme dialects
        p: a(href='https://github.com/jiyinyiyong/willow') Willow markup language
        p: a(href='')
      .panel
        .title Tools
        p: a(href='https://github.com/jiyinyiyong/talkpage') Chatroom named Talkpage
        p: a(href='https://github.com/jiyinyiyong/doodle') Reload you HTML when you edit files
        p: a(href='https://github.com/jiyinyiyong/copyboard') a text-only Copyboard at realtime
        p: a(href='https://github.com/jiyinyiyong/github-viewer') Github Viewer
        p: a(href='https://github.com/jiyinyiyong/reload-cli') Reload this command
        p: a(href='https://github.com/jiyinyiyong/song-box') Song box
        p: a(href='https://github.com/jiyinyiyong/npm-search') Search NPM
        p: a(href='https://github.com/jiyinyiyong/coffee-bean') Run CoffeeScript in a page
        p: a(href='https://github.com/jiyinyiyong/zhongli') My first chatroom
        p: a(href='https://github.com/jiyinyiyong/noisy-chat') Tiny chatroom here
        p: a(href='https://github.com/jiyinyiyong/ternary-calculator') Ternary Calculator
        p: a(href='')
      .panel
        .title Ideas
        p: a(href='http://forum.ubuntu.org.cn/viewtopic.php?f=21&t=386367') I really want a better Shell
        p: a(href='')
      .panel
        .title Translations
        p: a(href='https://github.com/jiyinyiyong/monads-in-pictures') Monads in pictures, 中文
        p: a(href='https://github.com/jiyinyiyong/history-of-lisp') History Of Lisp, part
        p: a(href='http://jiyinyiyong.github.io/haskell-hardway/') Learn Haskell Fast and Hard, 中文
        p: a(href='')
      .panel
        .title Me
        p: a(href='http://www.xiami.com/space/lib-song/u/685374') Songs I love
        p: a(href='http://tuchong.com/51334/favorites/') Photos I loved
        p: a(href='http://lxtvvv.tuchong.com/2159629/') The photo I prefer as avatar
        p: a(href='')