
mixin item(link, title)
  .line: a(target="_blank", href=link)= title

doctype 5
html
  head
    title 题叶
    meta(charset='utf-8')
    link(rel='stylesheet', href='style/page.css')
    link(type="image/x-icon", rel="shortcut icon", href='./pic/jiyinyiyong-128x128.png')
  body
    #card
      img#avatar(alt='头像来源感谢 @vicky1994 http://lxtvvv.tuchong.com/2159629/', src='./pic/jiyinyiyong-128x128.png')
      .name 题叶, JiyinYiyong
      .about ChenYong, 1991, dreamer, coder
    #page
      .panel
        .title My writings
        mixin item("http://weibo.com/jiyinyiyong", "新浪微博")
        mixin item("http:repo.jiyinyiyong.me/blog/", "静态博客")
        mixin item("http://www.douban.com/people/jiyinyiyong/notes", "豆瓣日记")
        mixin item("http://blog.jiyinyiyong.info/about.md", "个人技术笔记")
        mixin item("http://segmentfault.com/u/jiyinyiyong/articles", "Segmentfault 文章")
        mixin item("https://medium.com/@jiyinyiyong", "Medium")
        mixin item("https://twitter.com/jiyinyiyong", "Twitter")
        mixin item("https://github.com/jiyinyiyong", "Github")

      .panel
        .title Things I like
        mixin item('https://vimeo.com/jiyinyiyong/likes', 'Liked vides on Vimeo')
        mixin item("http://www.xiami.com/space/lib-song/u/685374", '虾米上喜欢的歌')
        mixin item("http://tuchong.com/51334/favorites/", "图虫上喜欢的照片")
        mixin item("http://movie.douban.com/doulist/3272325/", "电影豆列: Wandering in the Time")
        mixin item("http://lxtvvv.tuchong.com/2159629/", "头像照片")

      .panel
        .title Projects
        mixin item("http://cirru.org", "Cirru Project")
        mixin item('https://github.com/coffee-js/coffee-script', '翻译 CoffeeScript 首页')
        mixin item("https://plus.google.com/communities/108571245540392494172/", "Coder News")
        mixin item('https://github.com/jiyinyiyong/search-tab-crx', 'Chrome Tab Searching Extension')
        mixin item('http://exportsjs.org/', 'Quick Docs')

      .panel
        .title Old blogs
        mixin item("https://github.com/jiyinyiyong/article", "Github Articles in HTML")
        mixin item('http://jiyinyiyong.blog.163.com/', '网易博客')
        mixin item('http://learning-notes.diandian.com/', '点点, 学习笔记')
        mixin item('http://thinking.diandian.com/', '点点, 投入的想法')
        mixin item('http://husxia.blog.sohu.com/', '王月生博客')
        mixin item('http://beg-silence.tumblr.com/', 'Like Silence 博客')

      .panel
        .title Forums and friends
        mixin item("http://www.golangtc.com/", "Golang China")
        mixin item("http://ruby-china.org/jiyinyiyong", "Ruby China")
        mixin item("http://v2ex.com/member/jiyinyiyong", "V2EX")
        mixin item("http://www.zhihu.com/people/jiyinyiyong/asks", "知乎")
        mixin item("http://cnodejs.org/user/jiyinyiyong", "CNode.js")
        mixin item("https://github.com/coffee-js/languages/issues", "Trying to think and talk")

      .panel
        .title Collections
        mixin item("http://coffee-js.github.com/coffeescript.cn/", "CoffeeScript links")
        mixin item('http://coffee-js.github.io/clojure-learning/page/', 'Clojure links')
        mixin item("http://www.tudou.com/home/item/jiyinyiyong", "Tudou")
        mixin item("https://github.com/jiyinyiyong/learning-notes", "Learning Functional Programming")
        
      .panel
        .title Experiments
        mixin item("https://github.com/jiyinyiyong/rain-boots", "Grunt is big, Rain-boots is small")
        mixin item("https://github.com/jiyinyiyong/scirpus", "Compile Scirpus to JS code")
        mixin item("https://github.com/jiyinyiyong/broccoli", "Broccoli demo blog")
        mixin item("https://github.com/jiyinyiyong/goose", "Add bracket for Golang code")
        mixin item("https://github.com/jiyinyiyong/clear_converter", "Add brackets for C code")
        mixin item("https://github.com/jiyinyiyong/thirtySix", "Chinese input method idea")
        
      .panel
        .title Demostrations
        mixin item("https://github.com/jiyinyiyong/tiaohua", "Futuristic character design")
        mixin item("http://jiyinyiyong.yupoo.com/", "The tiaohua character I designed")
        mixin item("https://github.com/jiyinyiyong/poet-matrix", "Poet Matrix")
        mixin item("https://github.com/jiyinyiyong/chuangling", "窗棂 and grid workspaces")
        mixin item("http:repo.jiyinyiyong.me/code-ladder/build/", "Indentation is better")
        mixin item("https://github.com/jiyinyiyong/life-game-webgl", "Life Game")
        mixin item("https://github.com/jiyinyiyong/video-player-concept", "Video player design")
                
      .panel
        .title Converter
        mixin item("https://github.com/jiyinyiyong/lilyturf", "Lilyturf is an HTML template in CoffeeScript")
        mixin item("https://github.com/jiyinyiyong/live-tmpl", "JSON in LiveScript as HTML template")
        mixin item("https://github.com/jiyinyiyong/calabash", "Run Bash commands from Node")
        mixin item("https://github.com/jiyinyiyong/she", "Add parentheses for Scheme dialects")
        mixin item("https://github.com/jiyinyiyong/willow", "Willow markup language")
        
      .panel
        .title Tools
        mixin item('http://repo.jiyinyiyong.me/seajs-issues/', 'SeaJS Issues Docs')
        mixin item("https://github.com/jiyinyiyong/talkpage", "Chatroom named Talkpage")
        mixin item("https://github.com/jiyinyiyong/doodle", "Reload you HTML when you edit files")
        mixin item("https://github.com/jiyinyiyong/copyboard", "a text-only Copyboard at realtime")
        mixin item("https://github.com/jiyinyiyong/github-viewer", "Github Viewer")
        mixin item("https://github.com/jiyinyiyong/reload-cli", "Reload this command")
        mixin item("https://github.com/jiyinyiyong/song-box", "Song box")
        mixin item("https://github.com/jiyinyiyong/npm-search", "Search NPM")
        mixin item("https://github.com/jiyinyiyong/coffee-bean", "Run CoffeeScript in a page")
        mixin item("https://github.com/jiyinyiyong/zhongli", "My first chatroom")
        mixin item("https://github.com/jiyinyiyong/noisy-chat", "Tiny chatroom here")
        mixin item("https://github.com/jiyinyiyong/ternary-calculator", "Ternary Calculator")
        
      .panel
        .title Ideas
        mixin item("http://forum.ubuntu.org.cn/viewtopic.php?f=21&t=386367", "I really want a better Shell")
        
      .panel
        .title Translations
        mixin item("https://github.com/jiyinyiyong/monads-in-pictures", "Monads in pictures, 中文")
        mixin item("https://github.com/jiyinyiyong/history-of-lisp", "History Of Lisp, part")
        mixin item("http:repo.jiyinyiyong.me/haskell-hardway/", "Learn Haskell Fast and Hard, 中文")
        
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41753901-7', 'jiyinyiyong.me');
    ga('send', 'pageview');