.indent {
  background: #66c;
  -moz-box-shadow: inset 0px 0px 20px #fff;
}
.space {
  background: #66c;
  -moz-box-shadow: inset 0px 0px 11px #fff;
}
span {
  background: #cfcffc;
}
body {
  font-famly: 'wenquanyi micro hei mono';
  font-size: 13px;
}
