
body
	line-height 26px
	background hsl(300,80%,90%)
	font-family "Ubuntu", "wenquanyi micro hei", "宋体"
	font-size 13px
*
	box-sizing border-box
#home
	width 800px
	background hsl(260,90%,90%)
	margin auto
	opacity 0.5
a:link
	text-decoration none
a:hover
	text-decoration none
	text-shadow 0 0 10px yellow
	color blue
div
	padding 0px 13px
	margin 0px
.content
	background hsl(260,90%,90%)
	margin auto
	width 800px
.date
	font-size 13px
	color hsl(30,80%,30%)
.posts
	margin-left 20px
.comments
	opacity 0.5
	width 800px
	background hsl(260,90%,90%)
	margin auto
