
html
	head
		title tolearn
		meta(charset="utf-8")
		link(rel="stylesheet",href="global.css")
	body
		article
			p CoffeeScript
			#p http://www.douban.com/group/coffeescript/
			p NodeTuts in Coffeescript
			#p http://jaigouk.com/nodetuts-coffeescript/
			p Jade
			#p https://github.com/visionmedia/jade
			p Stylus
			#p http://learnboost.github.com/stylus/
			p Pro Git
			#p http://progit.org/book/zh/
			p Node.js Manual & Documentation
			#p http://cnodejs.org/cman/process.html
			p What is Node
			#p http://jayli.github.com/whatisnode/index.html
			p The Node Beginner Book
			#p http://nodebeginner.org/index.html
			#p http://nodebeginner.org/index-zh-cn.html
			#p http://jiyinyiyong.github.com/memory/nodejs_guide/nodejs.html
			p Haskell
			#p http://learnyouahaskell.com/
			#p http://jiyinyiyong.github.com/memory/haskell_guide/learn.html
			p Real World Haskell
			#p http://book.realworldhaskell.org/read/
			p OpenGL Haskell
			#p http://www.haskell.org/haskellwiki/Opengl
			p Gtk2Hs Tutorial
			#p http://www.muitovar.com/gtk2hs/chap1.html
			p OpenGLTutorial1
			#p http://www.haskell.org/haskellwiki/OpenGLTutorial1
			p OpenGLTutorial2
			#p http://www.haskell.org/haskellwiki/OpenGLTutorial2
			p learn you some Erlang
			#p http://learnyousomeerlang.com/content
			p MongoDB Tutorial
			#p http://www.mongodb.org/display/DOCS/Tutorial
