body {
  background: #f5f5d6;
  color: #000;
  line-height: 26px;
  font-size: 13px;
  font-family: "文泉驿等宽微米黑", "宋体";
}
article {
  margin: 60px 200px;
}
p {
  margin: 0px;
  padding: 0px;
}
#p {
  margin: 0px;
  padding: 0px;
  height: 26px;
  opacity: 0.2;
}
