
*
  box-sizing border-box
  -moz-box-sizing  border-box

::-webkit-scrollbar
  width 8px
  height 8px

::-webkit-scrollbar-track
  width 8px
  background hsl(240,20,90)

::-webkit-scrollbar-thumb
  background hsla(0,50,50,0.4)
  border-radius 8px 8px 0px 0px

body
  background hsl(240,80,96)
  margin 0px
  font-family 'wenquanyi micro hei', 'microsoft yahei', Hiragino
  padding 40px 80px
  min-height 400px
  width 2600px

p
  margin 0px

.block
  padding 12px
  float left
  margin-right 40px

#intro
  #avatar
    width 400px
    border 10px solid white
    box-shadow 4px 1px 20px gray

.panel
  background white
  width 400px
  padding 24px 8px
  margin 40px 0px
  box-shadow 4px 1px 20px gray
  line-height 24px

.line
  margin 7px 10px

.line>a
  text-decoration none
  border-radius 3px

#cirru
  width 520px
  .panel
    width 500px

#future
  width 600px
  margin-top -30px
  .panel
    width 580px

#like
  width 560px
  margin-top 30px
  .panel
    width 540px