
doctype 5

head
  link(rel='stylesheet', href='page/style.css')
  link(type="image/x-icon", rel="shortcut icon", href='./pic/jiyinyiyong.png')
  meta(charset='utf-8')
  script(defer, src='build/build.js')
  //- include ga.html
body#app(v-class='appMode')
  #title(v-on='click: toggleView')
    #name
      span#name-nice 题叶
      span#name-id jiyinyiyong
    #about
      span#real-name ChenYong,
      span#birth-year 1991,
      span#introduction
        a(href='https://github.com/tiye/tiye.me', v-click='noevent') Coder
        span of CoffeeScript &amp; Cirru
  #menu(v-show='open')
    #category
      .candidates(v-repeat='menu')
        .aspect(v-on='click: selectAspect(this.category)'
          v-class='aspectState(this.category)'
          ) {{category}}
    #resources
      .candidates(v-repeat='menu', v-show='onAspect(category)')
        .candidates(v-repeat='resources')
          a.link(href='{{link}}', v-text='name', target='_blank')
        .description(v-text='description')